<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="head">
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/images/icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/bootstrap520/css/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/css/vendor.min.css">
    <link rel="stylesheet" href="/assets/vendor/icon-set/style.css">
    <link rel="stylesheet" href="/assets/css/theme.min.css?v=1.0">

    <link rel="stylesheet" href="/assets/fontawesome-4.7/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/node_modules/sweetalert2/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</th:block>